.events-section {
  position: relative;
  padding-top: 50px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-image: url("../../assets/whitebg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-title {
  width: 50%;
  height: 70%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  text-align: start;
  font-size: 3.5rem;
  color: black;
}

.event-card {
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  margin: 0 auto;
  width: 550px !important;
  cursor: pointer;
  border: 1px solid transparent;
}


.event-card:hover {
  transform: scale(1.05);
  border: 3x solid rgb(255, 255, 255);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.8);
}

.event-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.event-title {
  font-size: 1.5rem;
  margin-top: 15px;
  color: black;
}

.event-description {
  font-size: 1rem;
  margin-top: 10px;
  color: #666;
}

.section-wrapper{
  width: 70%;
}

.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 30px;
}


.slick-prev {
  z-index: 1;
  left: 15px;
}

.slick-next {
  right: 25px;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #000000;
}

/* Dot Styles */
.slick-dots li.slick-active button:before {
  color: rgb(0, 0, 0);
}

.slick-dots li button:before {
  color: rgb(0, 0, 0);
}

.slick-dots li button:hover:before {
  color: #ccc;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/whitebg.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}
.content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  gap: 30px;
}

@media (max-width: 611px) {
  .event-card {
    width: 100% !important;
  }
  
}
@media(max-width:756px){
  .section-title{
    width: 100%;
  }
  .section-wrapper{
    width: 100%;
    margin-left: 50px;
  }
}
@media(max-width:640px){
  .section-title{
      font-size: 3rem;
  }
}