.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin-top: auto;
  text-align: left;
}

.logo {
  height: 65vh;
  min-height: 65vh;
  min-width: 50vw;
  background-image: url("../../assets/image-removebg-preview.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.likha-hua {
  line-height: 1.8;
  font-size: 1.2rem;
  color: var(--other);
  padding: 20px;
}

.likha-hua span {
  display: block;
  transition: color 0.5s ease, opacity 0.5s ease;
  opacity: 0.3;
}

@media(max-width:1000px){
  .likha-hua{
    font-size: 0.9rem;
  }
}