.main-wrapper {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.big-text {
  margin-top: 40px;
  height: 35vh;
  min-height: 35vh;
  min-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.big-text .line1,
.big-text .line2 {
  text-align: center;
  font-size: 4rem;
}
.big-text .line2 {
  color: #f46700;
}
.likha-hua {
  font-family: "Fira Code", sans-serif;
  line-height: 1.8;
  font-size: 1.2rem;
  color: var(--other);
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.likha-hua span {
  display: block;
  transition: color 0.5s ease, opacity 0.5s ease;
  opacity: 0.3;
}

@media (max-width: 1000px) {
  .likha-hua {
    font-size: 0.9rem;
  }
  .big-text div{
    scale: 0.7;
  }
}
