.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.scroller{
  overflow-x: hidden;
  -webkit-mask: linear-gradient(90deg,rgba(255,255,255,0.2),white 20%,white 80%,rgba(255,255,255,0.2));
  mask:linear-gradient(90deg,rgba(255,255,255,0.2),white 20%,white 80%,rgba(255,255,255,0.2));
}

.inner {
  display: flex;
  width: 100%;
  gap: 40px;
  padding: 10px;
}
.top-inner{
  animation: scroll 20s linear infinite;
}
.bottom-inner{
  animation: scroll 30s linear infinite reverse;
}

@keyframes scroll {
  to{
    transform: translate(calc(-150% - 65px));
  }
}

.g-image {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 8px #ffffff98;
  width: 350px;
  height: 200px;
  flex-shrink: 0;
}
.g-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width:750px){
  .g-image{
    width: 250px;
    height: 150px;
  }
}