.btn {
  color: purple;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid purple;
  padding: 15px 20px;
  font-size: 17px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 1s;
  overflow: hidden;
  border-radius: 30px;
  text-shadow: 0px 1px rgb(201, 100, 194);
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  top: 0;
  left: -40px;
  transform: skewX(45deg);
  background-color: linear-gradient(110deg,#0c0212,45%,#5c1c64,55%,#0c0212);
  z-index: -1;
  transition: all 1s;
}

.btn:hover::before {
  width: 160%;
}
